[submodule "ImageMagick"]
	path = ImageMagick
	url = https://github.com/gradualcolors/ImageMagick
[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/KnicKnic/libjpeg
[submodule "libpng"]
	path = libpng
	url = https://github.com/KnicKnic/libpng
[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
