**/magick.js
**/magick.wasm
/samples/cmdline/magickApi.js
/samples/rotate/magickApi.js
/tests/rotate/rotated.*
/tests/rotate/FriedrichNietzsche-charcoal.png
/tests/rotate/node.js
node_modules
/dist
*.tgz
/magickApi.js
/buildLocal.sh
llvm-lto3
