# Ignore everything
*

# But not these files...
!/LICENSE
!/Readme.md
!/dist/**/*

# ignore these in /dist:
/dist/assets/**/*
/dist/spec/**/
/dist/esm5/**/
/dist/esm6/**/
/dist/esm2018/**/
/dist/bundle.js
/prefix